.about .container {
    display: flex;
}

.about-list {
    display: flex;
    flex-shrink: 0;
    margin-right: 64px;
}

.about-list-item+.about-list-item {
    margin-left: $typical-card-margin;
}

.about-undertitle {
    margin-top: $typical-text-margin;
}

.about-text {
    margin-top: $typical-text-margin;

    font-size: 14px;
    line-height: 1.86;
}