.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}

.contacts-list {
    margin-top: 40px;
    margin-bottom: 70px;
}

.contacts-list-item+.contacts-list-item {
    margin-top: $typical-text-margin;
}

.contacts-list-link {
    display: flex;
    align-items: center;

    color: $primary-grey;
    font-style: normal;
}

.contacts-list-icon {
    margin-right: 16px;
}

.timetable {
    color: $primary-white-color;

    &::before {
        background-color: $secondary-grey;
    }
}

.timetable-text {
    color: $primary-grey;
}