.section-features {
    @include desktop {
        padding-top: 121px;
    }
}

.features {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
        flex-direction: column-reverse;
    }
}

.features-blocks {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        margin-top: 44px;
    }

    @include desktop {
        width: calc(50% - 15px);
    }
    
}

.features-list {
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    @include tablet {
        width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
    }

    @include desktop {
        width: 370px;
    }
}

.features-list-item:nth-child(odd) {
    margin-right: $typical-card-margin;

    @media screen and (max-width: 479px) {
        margin: 30px auto 0;
    }
}

.features-list-item:nth-child(even) {
    margin-top: $typical-card-margin;

    @media screen and (max-width: 479px) {
        margin: 30px auto 0;
    }
}

.features-list-item {
    width: 193px;
    height: 133px;
    padding: 20px 36px;

    background-color: $background-secondary-color;

    @include tablet {
        width: 210px;
        padding: 20px 44px;
    }

    @include desktop {
        width: 170px;
        padding: 20px 24px;
    }
}

.features-list-number {
    position: relative;
    display: block;
    text-align: center;

    color: $secondary-text-color;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;

    &::after {
        content: "+";
        position: absolute;
        top: 5px;
        margin-left: 3px;

        color: $accent-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.38;
    }
}

.features-list-text {
    text-align: center;

    color: $secondary-text-color;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

.features-content {
    width: 100%;

    @include tablet {
        width: 500px;
    }

    @include desktop {
        width: calc(50% - 15px);
        padding-top: 9px;
    }
}

.features-paragraph {
    margin-top: $typical-text-margin;
}