.hero .container {
    display: flex;
}

.hero-networks-thumb {
    display: flex;
    align-items: flex-end;
    width: 93px;

    padding-left: 22px;
    padding-bottom: 40px;
}

.hero-networks {
    transform: rotate(-90deg) translate(-15px);
    transform-origin: top left;
}

.hero-content {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 272px 0 206px 96px;

    background-color:  $background-contacts-color;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(..//images/hero_img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: $primary-white-color;
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero-text {
    margin-top: $typical-text-margin;
    max-width: 400px;

    color: $primary-grey;
}