.logo {
    fill: $primary-white-color;
    
    @include tablet {
        margin-right: 50px;
        fill: $secondary-text-color;
    }

    @include desktop {
        margin-right: 70px;
    }

    transition: fill $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}