.page-footer {
    background-color: $background-secondary-color;
    padding-top: 44px;
    padding-bottom: 44px;

    @include desktop {
        padding-top: 57px;
        padding-bottom: 55px;
    }
}

.footer-blocks {
    display: flex;
    flex-direction: column-reverse;
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-text {
    color: $primary-grey;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.footer-networks {
    @media screen and (max-width: 767px){
        margin-left: auto;
        margin-bottom: 20px;
    }
}