.page-header {
    position: absolute;
    width: 100%;

    padding-top: 40px;
    padding-bottom: 40px;

    font-weight: 600;

    @include tablet {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.page-header .container {
    display: flex;
    align-items: flex-start;

    @include desktop  {
        align-items: center;
    }

}
