.price {
    max-width: 1280px;
    margin: 0 auto;

    background-color: $background-price-color;
    background-image: url(../images/price-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/price-mobile@2x.png);
    }

    @media screen and (min-width: 481px) {
        background-image: url(../images/price-tablet.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/price-tablet@2x.png);
        }
    }

    @media screen and (min-width: 769px) {
        background-image: url(../images/price-desktop.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/price-desktop@2x.png);
        }
    }
}

.price-lists {
    margin-top: 44px;
    margin-bottom: 50px;

    @media screen and (max-width: 1199px) {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }

    @include desktop {
        display: flex;  
    }
}

.price-list {
    display: block;
    width: 100%;
    padding: 30px;

    color: $primary-grey;

    @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 2.14;
    }

    @include tablet {
        padding: 30px 40px;
    }

    @include desktop {
        width: 50%;
    }
}

.price-list:first-child {
    @include desktop {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
}

.price-list:last-child {
    @include desktop {
        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
}

.price-list-item {
    display: flex;
    align-items: baseline;

    &::before {
        content: "";
        flex-grow: 1;
        height: 1px;
        margin: 0 6px;
    
        background-color: rgba(157, 164, 189, 0.12);
    }
}

.price-list-item+.price-list-item {
    margin-top: $typical-text-margin;
}

.price-list-text:first-child {
    order: -1;
}

.price-primery-btn {
    display: block;
    margin: 0 auto;
}